[2015-03-27 08:29] JamborJan opened #1 "The "manage tags" button is also missing when logged in as grain owner"
The "manage tags" button is also missing when logged in as grain owner.

![bildschirmfoto_2015-03-27_um_09_27_27](https://cloud.githubusercontent.com/assets/7508960/6864565/9595e22e-d463-11e4-87aa-91f1a8ba6433.png)

This behavior is correct for public users but not for the owner.

[2015-03-30 08:30] JamborJan opened #2 "Use Sandstorm roles admin, owner, read, write"
Comment from https://groups.google.com/forum/#!topic/sandstorm-dev/iyV_HX_-eU8

I will try to implement some tests during the next weeks were I simulate "read" and "edit" with the sandstorm pkg file in my dev environment. I will add this as a issue in my github repo and include it for the next version of the app. I will also take care that data is right migrated if required.

As far as I can see I

[2015-03-30 08:34] JamborJan opened #3 "Remove /login path from routes"
It should not be able to access the login screen in sandstorm mode but to be sure we will check this in more detail.

See: https://groups.google.com/forum/#!topic/sandstorm-dev/iyV_HX_-eU8

As far as I can see I have to use at least dummy user in the system which equal the available permissions. A login should not be possible, I will check the login paths once again in more detail for the next ver

[2015-03-31 05:15] JamborJan opened #4 "Improve https / http detection (also for upstream)"
According to feedback from upstream dev: Could you try adding the if statement you've done in line 12 of routes.php and put it after line 39, remove it from where it is (or comment it), please? Make sure it is in App::before. Also replace the body of the if statement to make it like this:
[code]
In other words, the code should be like this:
[code]

[2015-03-31 05:16] JamborJan opened #5 "Make better readme page"
Make better readme page according to the pages of other sandstorm ports.

[2015-04-04 02:47] kentonv commented on #2
FWIW, I recommend having three roles called "owner" (manage+write+read), "editor" (write+read), and "viewer" (read). This is a bit more approachable for non-technical users.

[2015-04-10 08:09] JamborJan commented on #4
Comments from https://github.com/twostairs/paperwork/issues/281

I just flew over this issue, without spending as much thoughts on it as you guys did. Just a hint from my side: It's probably not the best solution if things like HTML::style needs to be replaced by a hardcoded link tag. In general, I would say that all this fixing should be done in Laravel, rather than within Paperwork, as it's the

[2015-04-10 11:06] JamborJan opened #6 "Build app with latest paperwork upstream code"
This requires some more work as Paperwork changed internal ID's to UUIDs so a migration of existing instances is required.

[2015-04-10 11:11] JamborJan opened #7 "Test Paperwork with sqlite"
MySQL is using too many resources e.g. 25 MB for a new grain and spin up when a grain is launched is too slow.

Being based on Laravel Paperwork has at least a sqlite driver. A first test brought issues with the init script (see: https://github.com/twostairs/paperwork/issues/244).

More tests need to be done. PR for upstream should be considered when accomplished.

[2015-04-13 13:14] aksalj commented on #7
To run with `sqlite` one could make the timestamps (`created_at` , `updated_at`) nullable. They require a value by default, `MySQL` is giving them one; `sqlite` is not.

But like @devilx said in [twostairs#244](https://github.com/twostairs/paperwork/issues/244), it would work out of the box if Laravel's query builder provided all the abstractions needed by Paperwork.

For now, replacing calls to `

[2015-04-27 18:08] JamborJan opened #8 "Merge from docker to vagrant build process"
As sandstorm is building a vagrant app creation tool I merge the package to that.

See:
https://github.com/zarvox/vagrant-spk +
https://github.com/sandstorm-io/sandstorm/wiki/Porting-an-app-with-vagrant-spk

[2015-04-27 18:26] JamborJan commented on #4
(External Feedback)

About http/https detection -- to me, this seems like something that we should make part of the vagrant-spk tooling. I just read through all the comments at https://github.com/twostairs/paperwork/issues/281 ; it's a fascinating issue. The more I read about it, and the more I think about it, the more uncertain I am of exactly where I would place a fix for it.

I wonder, though -

[2015-04-27 19:58] JamborJan commented on #8
Current status:
- basic setup done & config done
- Config needs to be double checked for errors, e.g.

[code]

[2015-04-27 20:08] #5 closed

[2015-05-01 12:00] JamborJan commented on #6
To update existing grains an update script might be required.

Check ```.sandstorm/launcher.sh``` if this is the best place to put the update script.

[2015-05-01 12:48] JamborJan commented on #8
Hey @paulproteus just in case you have a chance to help me ...

I have tried to setup my Paperwork port with Vagrant just like I did it for the ownCloud stuff and like it is described in the examples. But unfortunately only this is not working. I bet I have a very small typo or config mess up but I'm too blind to find it.

The result is, that I cannot open ```http://localhost:6080``` after ```vagr

[2015-05-07 06:27] JamborJan commented on #2
See https://github.com/dwrensha/gitweb-sandstorm/commit/7f510ec82a935a9f94ebcf9651983d0bbadcf82a

[2015-05-07 18:57] paulproteus commented on #8
Will look into this today! Also cc: @zarvox

[2015-05-07 19:24] JamborJan commented on #8
Again: I'm not sure if I'm stupid or what the reason is. If you see something, say something :-)

[2015-05-26 19:31] JamborJan commented on #8
Hey @paulproteus and @zarvox,

can one of you help me with that stuff. When you git clone this repo and use the vagrant-spk you should get the app running. But unfortunately I only get **500: Internal Server Error**.

I'm experimenting since some days with the stuff and faced several stupid misconfiguration things from my side. Now I think I'm too blind to see the solution and really hope that one

[2015-05-26 21:03] zarvox commented on #8
Apologies for letting this fall off my radar for too long, and thanks for pinging again.

I tried running the git clone, and got the same 500 error you mentioned.

`vagrant-spk ssh` will drop you into a shell in the Vagrant VM.  Looking in `/opt/sandstorm/var/sandstorm/grains/`, I see in `<grainId>/sandbox/log/nginx/error.log`:

2015/05/26 20:50:24 [error] 69#0: *2 FastCGI sent in stderr: "PHP mes

[2015-05-26 21:06] zarvox commented on #8
Oh, I spoke slightly too soon -- I see now that there *is* a `composer.json` in the `frontend/` folder.  I'd suggest adjusting your `.sandstorm/build.sh` as before to call composer.  If you use the script embedded in vagrant-spk, you might need to adjust the paths for the conditionals (or ignore them entirely, since you know what the appropriate build steps will be for your app :) ).

[2015-05-26 21:44] zarvox commented on #8
Poking at this a little longer, I wound up able to run a grain (new errors, but hey, progress!) with the following:

`build.sh`:
[code]

In `setup.sh`, I needed to modify a couple lines to also install php5-cli, php5-dev, php5-gd, php5-mcrypt, and enable the mcrypt module:
[code]

[2015-05-27 19:28] JamborJan commented on #8
Hi @zarvox ,

Thanks so much! The ```build.sh``` was the solution, ```setup.sh``` was unfortunately broken due to my 1'000 different tests before.

The error messages you mention are due to the fact that I have moved the folders where the app should store data to ```/var``` which is now not working any longer apparently. Will check that next.

[2015-05-29 11:31] JamborJan commented on #8
Hey @zarvox do you mind if I bother you again. I have an issue with moving folders to ```/var``` which need to be writable and sandstorm requires writable folders to be there.

For paperwork the folder ```/opt/app/frontend/app/storage``` needs to be writable. So what I did also before when I used the Docker build process is I created the folder including sub folders in ```/var``` and symlinked thi

[2015-05-29 22:43] zarvox commented on #8
No worries!  I'm always happy to help.

I should probably document the following in the README, but:
  * `setup.sh` is intended for getting things that are system-global packages, or language package managers, or build tools, or daemons that you use directly from upstream
  * `build.sh` is intended for doing app-specific build tasks, like installing app-s
  * `launcher.sh` is your entry point for

[2015-05-29 22:48] zarvox commented on #8
To be absolutely clear: anything you do that touches `/var` should probably happen in `launcher.sh`  The one exception will be setting up symlinks from `/opt/app/*` to places under `/var` since /opt/app will be readonly from inside the sandbox.  (Yes, `/opt/app/frontend/app/storage` will look like a broken symlink from the view outside of the sandbox, but whenever the app is running in the sandbox

[2015-05-29 23:10] paulproteus commented on #8
(As a random bystander, let me say) this conversation suggests to me that
we should start using the "grain" terminology in vagrant-spk.

Regardless of that, I'm glad you two are working on this and working
through these issues.
​

[2015-05-31 10:31] JamborJan commented on #8
Hi @zarvox, I understand what you are saying and changed ```build.sh``` and ```launcher.sh```.

The situation is anyway not changed: the grain starts up and the app is still not able to find the json file which should be located in ```/var/storage/meta```. How can I look into the sandbox if everything is right there with the folders, json files and the link?

I'm a bit embarrassed that I'm not abl

[2015-06-01 03:29] zarvox commented on #8
Hi @JamborJan

You're pretty close!  It looks like Laravel needs a slightly different nginx conf, since the app is entirely dispatched on the PHP side, rather than by the browser.  I followed the advice at http://laravel.com/docs/5.0/installation#pretty-urls to get an nginx conf file that works - patch that into `setup.sh`.

[code]

From there, it seemed like the DB setup wasn't quite right, so I

[2015-06-01 07:53] JamborJan commented on #8
Thanks @zarvox

I will continue to work in that. Only FYI: the step ensure the paperwork database exists in ```launcher.sh``` worked only with a slightly different SQL statement for me:

[code]
This one was used by me before and was part of the Paperwork docs (at least in the past).

Thanks a lot for all your help!

[2015-06-01 08:26] zarvox commented on #8
Oh yeah, that's even better.  I changed the settings file to use user root and empty password, since that's what vagrant-spk exposes by default, but what you did is perfectly fine and means less delta against upstream configs.

[2015-06-02 18:50] JamborJan commented on #8
FYI and thanks a lot @zarvox!
![bildschirmfoto 2015-06-02 um 20 44 54](https://cloud.githubusercontent.com/assets/7508960/7944096/f542a132-0968-11e5-9355-dabcd2f4d876.png)

[2015-06-02 19:19] #8 closed

[2015-06-03 06:23] JamborJan opened #10 "spk pack: cannot allocate memory"
Hey @zarvox,

When I'm trying to build my Paperwork SPK after a while the error shown below appears. I checked two things so far:
- just adding more resources to the VM doesn't help
- this seems not to be a sole vagrant-spk issues (spk pack works with e.g. the php test app)

Have you tried building an spk?

[code]

[2015-06-03 06:41] JamborJan commented on #1
After having done #8 the "manage tags" button is shown when run in dev mode. Needs to be tested when package is build before releasing V4.

[2015-06-03 21:11] zarvox commented on #10
Hmmm.  I just did the following successfully:

[code]

And this correctly produced a 61MB spk.

My VMs are by default allocated 4GB of RAM, but I watched the spk pack and it looked like the VM never used more than ~300MB.  So I'm surprised that this is failing for you.

Perhaps try cleaning your repo/VM?  `vagrant-spk destroy` will blow away the VM, but not your Vagrantfile/scripts, and then you c

[2015-06-05 15:29] JamborJan commented on #10
I did all that already, including destroying it or assigning more resources to the VM and I did it now again with the same result.

Then I thought: What would happen if app id and key are not matching?

I had a different machine before where I ran the build and I exported the key with ```spk getkey appid > app.key```and copied this file to the ```.sandstorm``` folder of my user on the new dev mach

[2015-06-05 21:05] zarvox commented on #10
Hmmm, that's quite odd!

Perhaps you have something weird in your paperwork/ git tree, which causes issues on your machine, but leaves mine alone?  Maybe it's .gitignore'd, or just not checked in to the repo?  That might explain why it's repeatedly causing you issues when you create new VMs, but not affecting me.

Perhaps try cloning the repo to a pristine folder, and trying a new VM in that folde

[2015-06-06 06:44] JamborJan commented on #10
So now I deleted everything from my dev machine, the whole repo and also the vagrant-spk repo. I even did restart the machine. But still ...

[code]
I also work on 2 machines with exactly the same error.
[code]
Before I deleted everything and started from scratch the mentioned file after ```Cannot allocate memory; name =``` was different (see first posting here). Super odd.

I'm running
- Mac OS X

[2015-06-06 16:08] paulproteus commented on #10
`cannot allocate memory` suggests that there isn't enough RAM etc. to do a `malloc`.

@zarvox it seems to me the `vagrant-spk` VM needs swap and doesn't have any.

To test this theory, @JamborJan , you could do:

[code]

and then retry the command.

[2015-06-06 16:09] paulproteus commented on #10
Similarly, you could try:

[code]

and then retry the `vagrant-spk pack` command.

[2015-06-06 22:23] zarvox opened #11 "/var/storage wiped out in launcher.sh?"
It seems like in `.sandstorm/launcher.sh` you remove the existing `/var/storage` folder.

This might not be what you want when resuming existing grains if any user data or attachments get stored there - you'd wind up deleting all such data as soon as the user closes and launches the grain again.

Does paperwork store anything of importance in /var/storage, or can it all be safely thrown away every

[2015-06-06 23:09] JamborJan commented on #11
This seems to be something left over from all the testing to get vagrant-spk running. There have been so many different options where, when, how to move the folder that I needed that for testing.

I will check it out in detail and fix it.

Thanks for noticing.

[2015-06-08 04:57] JamborJan commented on #10
@paulproteus both suggestions didn't change anything about the result. Same error and same duration until it appears.

[2015-06-08 21:30] zarvox commented on #10
Okay, thanks to @jparyani (who has a MacBook Pro), I was able to reproduce this.

My current guess is that it's an issue with VirtualBox's shared folder subsystem that only allows a limited number of files from the host to be `open()`ed or `mmap()`ed at a time from the guest.  At present, `spk pack` will `open()` each file, `mmap()` it, and then `close()` it.  Eventually, a bit past 4096 files, th

[2015-06-09 05:53] JamborJan commented on #10
This at least explains the behavior. Unfortunately ```nfs```requires a private host only network. I didn't find out how to add a second network to the vagrant VM so far, so I tested it with:

[code]
And it worked. Of course it is a workaround for now to ```vagrant halt```, switch network and ```vagrant up``` again to build a package but I think we are also pretty close to the final solution here.

[2015-06-09 06:42] paulproteus commented on #10
To get a host-only network, I recommend the following:

  # Create a link-local private address, so that the host can
  # use NFS with the Virtualbox guest. Virtualbox/Vagrant handles
  # network address translation so outbound network requests still
  # work.
  #
  # We pick the 169.254.253.2 address because it is similar to,
  # but different from, the IP address used by Sandstorm's
  # own Vagr

[2015-06-09 06:57] zarvox commented on #10
@JamborJan With @paulproteus's suggestion, you should be able to have multiple `config.vm.network` stanzas at a time in the Vagrantfile, which will let you have both forwarded ports and NFS.

See the Sandstorm Vagrantfile for an example of this: https://github.com/sandstorm-io/sandstorm/blob/ad0be9947546848264266e3942f3e6d73a4b03e6/Vagrantfile#L14-23

I suggest you add the network line Asheesh sug

[2015-06-09 07:19] JamborJan commented on #10
Thx @paulproteus & @zarvox

[2015-06-09 07:19] #10 closed

[2015-06-09 09:29] JamborJan commented on #11
Hi @zarvox

I used that wipe out during testing to ensure to have always a clear status when a grain is started. It seems to have no effect at the moment as I can create more notes and attachments and they always stay as they are even after closing a grain and restarting it.

It seems that the deletion and recreation of the structure happens before the grains data is there.

What is your opinion o

[2015-06-10 00:16] zarvox opened #12 ".sandstorm/sandstorm-pkgdef.capnp should probably exclude .git"
Hey JJ,

It took me a while to notice this, but the reason that you're hitting the vboxsf file descriptor limits is because you're including a bit more in your .spk than what paperwork actually appears to use.

In particular, you're specifying `alwaysInclude` for `opt/app` and `usr/lib/python3.4`, which I suspect you might not actually need to run paperwork.  (Do correct me if I'm wrong!)  In addi

[2015-06-10 00:21] zarvox commented on #12
Oh, some numbers: I get an 18MB .spk without the alwaysInclude line, and a 61MB one with it as-is.

A significant portion of that is the ~32MB or so of `node_modules` that are only needed at build time, and not runtime.

[2015-06-12 09:55] JamborJan commented on #12
You are right, FYI the reason it was in there before:

The ```alwaysInclude```has been added back when I used the build process via Docker. There I had this in the sandstorm logs when starting a grain:

[code]
Back then I checked out the Lychee port: https://github.com/jparyani/Lychee/blob/sandstorm/sandstorm-pkgdef.capnp#L54.

I added "usr/lib/python3.4" to `alwaysInclude`, and it was fixed.

I r

[2015-06-12 09:55] #12 closed

[2015-06-12 09:58] JamborJan commented on #11
Any idea if it's better to keep or to remove the ```rm -rf /var/storage``` @zarvox ?

I'm not sure if it either ensures a clear situation when a grain start (= keep it) or if it might cause issues later when starting a grain might change and it causes confusion then (=remove it).

[2015-06-12 10:04] JamborJan commented on #6
An issue so far is that the upgrade will change the used IDs in the database to proper UUIDs which caused issues at a past test.

[2015-06-12 10:20] zarvox commented on #11
Opinion: leave the `rm -rf /var/storage` in `build.sh` and remove it from `launcher.sh`.  Keep all the `mkdir -p` calls in `launcher.sh`, so it's safe for both first-run and subsequent runs.

Rationale: outside of Sandstorm, the app already has to be able to handle data in that folder across requests, or if php5-fpm is reloaded, or whatnot.  If it turns out paperwork is better off with `/var/stora

[2015-06-12 10:58] JamborJan opened #13 "Upgrading old grains to new app version"
After having moved from the docker build process to ```vagrant-spk``` I can perfectly create new grains but cannot open existing ones which have been created with the older version of the app.

It's pretty obvious that the reason is the mysql setup.

I have used the recommended setup back then like it was used here: https://github.com/jparyani/Lychee/blob/sandstorm/Dockerfile#L30-L33

Just in case

[2015-06-12 11:02] JamborJan opened #14 "Check for upstream "diff noise""
Feedback:

[code]

[2015-06-12 12:57] JamborJan commented on #4
@Liongold I added in ```routes.php``` as suggested:

[code]
This works as long as it is running in http but as soon as I am using https this error is shown:
[code]
![iputils not found](https://cloud.githubusercontent.com/assets/7508960/8130247/3ba66118-1111-11e5-94ff-6d502f7eb820.png)

The ```HTML::style```have been restored as they are working correctly when ```HTTP_X_FORWARDED_PROTO``` is set.

[2015-06-12 13:47] JamborJan commented on #14
FYI

A ```find . -type f -print0 | xargs -0 chmod 644``` does the magic and all files have the correct permissions again without messing with the folders.

[2015-06-12 13:47] #14 closed

[2015-06-12 13:54] JamborJan commented on #1
Works also with the packed SPK installed on other systems.

[2015-06-12 13:54] #1 closed

[2015-06-12 20:31] JamborJan commented on #11
Moving ```storage``` to ```/tmp``` is not working out. Attached files to notes get lost in that case. Implementing the suggestion option works as far as I can say after testing it a bit.

[2015-06-12 20:32] #11 closed

[2015-06-12 20:54] zarvox commented on #11
Ahhh, sounds like leaving the `rm -rf storage` in `launcher.sh` would probably also have wiped out files attached to notes as well, then.  I'm glad I filed this ticket!

So we've answered the question "is there important user data in `/var/storage`" and the answer is "yes" so we should make sure to preserve it between runs, which is precisely what you implemented.  Awesome!

[2015-06-15 05:44] JamborJan commented on #3
I checked most of the routes and they are not working or showing the default screen. Some routes are displaying weird stuff when entered in as URL. This will need some more testing.

[2015-06-15 18:20] JamborJan commented on #2
Hi @paulproteus,

can you help me with some ideas about how to best implement the role / sharing model of sandstorm.

I have created these permissions (https://github.com/JamborJan/paperwork/blob/master/.sandstorm/sandstorm-pkgdef.capnp#L74-L77):
- admin (create new notes, notebooks, keywords, edit this stuff)
- edit (only edit existing notes, nothing to be created)

I have these roles (https://gi

[2015-06-15 18:42] JamborJan commented on #4
Hi @Liongold, I close that one on my side. If you have anything more to test, let me know.

[2015-06-16 14:56] Liongold commented on #4
I'll take a look at this. Thank you very much and sorry for the late reply. Just to make it clear, what is not working now?

[2015-06-16 14:59] JamborJan commented on #4
No worries, I didn't reply for ages myself. See this comment for the details about the error: https://github.com/JamborJan/paperwork/issues/4#issuecomment-111483596

And here commented the code snipped I used (of course with my part on top of that file commented): https://github.com/JamborJan/paperwork/blob/master/frontend/app/routes.php#L35-L43

[2015-06-16 18:21] paulproteus commented on #2
Hi @JamborJan !

Some general thoughts for you.

## On app permissions generally

For getting apps to respect Sandstorm permissions, there are generally two ways to achieve this.

1. *Statefully store the permissions information into the app's user database.* This is basically what you're doing now. One theoretical difficulty of this approach is that if the `X-Sandstorm-Permissions` for a user cha

[2015-06-17 12:29] Liongold commented on #4
I'm not sure this will help. It's just the first thoughts I had. Can you try running composer dump-autoload? If that does not work, can you include `use Symfony/Component/HttpFoundation/` in the if statement before Request::setTrusted.....

[2015-06-17 14:29] JamborJan commented on #4
I will check that during the next days. Thx.

[2015-07-14 17:43] erikmaarten opened #15 ""File > New collection" does nothing"
When pressing "New collection" in the File menu, the menu closes without giving any indication that something has happened. No new collection is created.

The Sandstorm log shows no error.

If this action is intentionally removed from Paperwork in order to fit better with the Sandstorm grain model, perhaps the menu option could be removed altogether.

![paperwork_menu](https://cloud.githubusercont

[2015-07-15 15:58] JamborJan commented on #15
Thanks for reporting this issue. I will check it in more detail and fix it in the next version.

[2015-07-15 15:59] JamborJan commented on #15
The next version might take some time as the sandstorm platform and the spk is improving and this causes some additional work from time to time. Thanks for your patience.

[2015-07-15 16:09] erikmaarten commented on #15
Great! The issue isn't very severe, it just adds a little bit of confusion, so no worries if next release takes a while.

[2015-07-18 17:04] JamborJan commented on #6
Done with https://github.com/JamborJan/paperwork/pull/16.

[2015-07-18 17:04] #6 closed

[2015-07-18 17:05] JamborJan commented on #2
Done with https://github.com/JamborJan/paperwork/pull/16

Including all the useful feedback from @paulproteus thanks for that!

[2015-07-18 17:05] #2 closed

[2015-07-18 17:06] JamborJan commented on #3
Done with https://github.com/JamborJan/paperwork/pull/16

[2015-07-18 17:06] #3 closed

[2015-07-18 17:07] JamborJan commented on #15
FYI @erikmaarten

This seems to be an issue also upstream. Will fix it tomorrow, either by really fixing it or removing, don't know so far why we need it here.

[2015-07-19 07:04] JamborJan commented on #15
I have no idea what collections are for in paperwork. There are also some issues reported that th button is not working in the upstream repository:
https://github.com/twostairs/paperwork/issues/364
https://github.com/twostairs/paperwork/issues/352
https://github.com/twostairs/paperwork/issues/318
https://github.com/twostairs/paperwork/issues/15

For now I think the best thing is to remove the butt

[2015-07-19 07:07] #15 closed

[2015-07-19 07:52] JamborJan opened #17 "Import bigger XML files"
You can import notes e.g. from Evernote. With the current setting nginx throws an error when the file is bigger than 2MB.

![bildschirmfoto 2015-07-19 um 09 51 48](https://cloud.githubusercontent.com/assets/7508960/8765063/d2789668-2dfb-11e5-98af-d3868ca4cdbf.png)

[2015-07-19 09:46] JamborJan opened #18 "Release package V5 not working"
see https://github.com/sandstorm-io/vagrant-spk/issues/37

[2015-07-19 10:09] JamborJan commented on #13
Can only be tested when https://github.com/JamborJan/paperwork/issues/18 is done.

[2015-07-19 10:09] JamborJan commented on #4
Can only be tested when https://github.com/JamborJan/paperwork/issues/18 is working. Seems to be okay.

[2015-07-20 05:39] JamborJan opened #19 "Error messages about services.json during vagrant-spk dev"
See: https://github.com/sandstorm-io/vagrant-spk/issues/37#issuecomment-122708602

[2015-07-20 05:59] JamborJan commented on #18
TODO:
- Remove language detection (for now)
- Include file list in git repo
- Create complete List

[2015-07-20 16:35] JamborJan opened #20 "Build in https detectin still doesn't work when running Paperwork on Sandstorm"
I had to include my fix again in `frontend/app/routes.php`

[code]

Fixes implemented by Paperwork so far:
https://github.com/twostairs/paperwork/pull/360

[2015-07-20 16:38] #18 closed

[2015-07-20 16:41] #4 closed

[2015-07-20 16:56] JamborJan commented on #13
Hi @zarvox,

Now that I have finalized the new version of the paperwork app I come back to this issue.

Unfortunately I cannot upgrade my old app which has been created from a Docker container with the new version which has been created with vagrant.spk.

I used this Dockerfile to setup the system: https://github.com/JamborJan/paperwork/blob/4e0666e3705cc69cccf41e4c0b1fb70014b44c0d/Dockerfile

Now

[2015-07-20 17:29] paulproteus commented on #13
Hey @JamborJan . @zarvox is away for the week, so maybe I can work with you on debugging this.

For what it's worth, I agree that MySQL is likely the culprit here. Probably `vagrant-spk` should have support for migration scripts, so that you can check for this condition and do a migration.

[2015-07-20 17:52] JamborJan commented on #13
I think the script is no big deal (maybe I am wrong).

The most important thing for me now: get an idea what the cause is. I'm kind of looking at the stuff and am not seeing it. If you could help with that it would be awesome. I will try to find out on my own, but it might take some time.

[2015-07-20 20:28] JamborJan commented on #13
I'm not that sure that mysql is the issue.  In ```data/log/nginx/error.log``` I find the following. The nginx config in the old Docker container was: https://github.com/JamborJan/paperwork/blob/4e0666e3705cc69cccf41e4c0b1fb70014b44c0d/nginx.conf

In the new nginx conf there is still an "example.com" which doesn't seem to hurt when creating new grains. Also switching this e.g. to 127.0.0.1 doesn't

[2015-07-22 23:00] paulproteus commented on #13
Hi JJ! Still need help with this? I can see what I can do shortly.

On Mon, Jul 20, 2015 at 1:28 PM, JJ <notifications@github.com> wrote:

[2015-07-23 06:09] JamborJan commented on #17
At the moment it should be possible to upload 10 to 20 MB files. The import feature itslef must be improved to get better results. At the moment nothing we can do here.

[2015-07-23 06:09] #17 closed

[2015-07-23 06:12] JamborJan commented on #13
Hi, help is still appreciated. I'm working a lot these days to get it proper done. Now everything besides the update of old grains should work as expected.

Not sure if we can say: sorry guys update is not possible. I also don't know how many people are already using the package (do you see that in the app store?).

[2015-07-23 06:22] JamborJan opened #21 "Edit notes: empty editor"
Reported here: https://groups.google.com/forum/#!topic/sandstorm-dev/ObdnUs2vyrU

[..]
Also, I had a problem where the text of a Paperwork note wouldn't appear in the editor. I'm attaching an animated GIF screencast; ignore the first couple of seconds; the problem should be clear by the end of the screencast.
[...]
![anim](https://cloud.githubusercontent.com/assets/7508960/8844304/e9a122b8-3113-11

[2015-07-23 06:26] JamborJan opened #22 "New setting in admin page: debug on/off"
Feedback from: https://groups.google.com/forum/#!topic/sandstorm-dev/ObdnUs2vyrU

[...]
One suggestion here -- what if you leave the sidebar code in the final package, but require the user to enable/disable it as part of a web configuration UI that's part of Paperwork?​ That way, you won't have to ship a separate "pre-release" and "release" SPK.
[...]

[2015-07-23 06:27] JamborJan commented on #22
Will try to design a useful debug view which can be turned off / on in the admin view. I also try to merge this upstream right away.

[2015-07-23 07:01] JamborJan commented on #13
The things I see so far:

The environment seems to be pretty different set up. When you create an empty old grain with the old app version and a new one you see the differences in the backups. For example when you look into ```data/log```.

When you upgrade an old grain you will get now an error message and find one error in the nginx log. More I didn't find so far. Sorry for being not so useful h

[2015-07-24 05:27] JamborJan opened #23 "Better Evernote Import (Experiment)"
The current import is:
- Written in an memory-inefficient way, so import may be hitting memory_limit on the larger files

Additionally there would be some useful improvements for the Evernote Import:
- Display upload progress (needed especially for big files)
- Display a proper message when file is to big (if possible upfront)

I will implement and test a new version in my fork before I send a PR

[2015-07-26 14:31] JamborJan commented on #13
Current status:

The basic MySQL setup seems to be okay. When I access an old grain restored to a new app or a fresh created one I can do the following successful with both:
- Start Sandstorm in a Vagrant Box
- Upload a package of the app
- Upload a the grain backup which is broken & needs to be analyzed OR create a new grain
- Start the grain and keep it running
- No vagrant-spk dev required here

[2015-07-26 14:37] JamborJan commented on #13
The used version of the Laravel Framework seems to be EOL so they are not helping with the wrong error message. An update of the used Laravel Framework in Paperwork is discussed here: https://github.com/twostairs/paperwork/issues/54

[2015-07-28 11:46] JamborJan commented on #13
After having fixed a bug in the old / eol laravel ramework I now get a proper error message which indicates that a update script from paperwork has not been run when starting a new grain.

[code]
I will continue working on that. Seems like the chance of getting this solved slightly improved.

[2015-07-28 15:01] JamborJan commented on #19
The error shown during ```vagrant-spk dev```:

[code]

[2015-07-28 15:24] JamborJan commented on #19
The root cause is that the file structure where the ```services.json``` is generated is created in ```launch.sh```. But ```php composer.phar self-update``` runs ```php artisan clear-compiled``` and ```php artisan optimize anyway.

I guess this is not optimum but I will keep it for now and check it later. It seems not to be linked to https://github.com/JamborJan/paperwork/issues/13 despite the fact

[2015-07-28 17:17] paulproteus commented on #13
Wow! Good spotting!

[2015-07-28 17:28] JamborJan commented on #13
Unfortunately I have a kind of a messed up situation with the upgrade scripts from Paperwork. Parts are working and then it crashes. They have some kind of role back but that isn't working properly. So you always have to restore a backup for a new test. And the really annoying thing here is: I cannot restore a backup in ```vagrant-spk dev``` mode. It always says error 200 grains app not installed

[2015-07-28 17:33] JamborJan commented on #13
First improvements done: https://github.com/JamborJan/paperwork/commit/bb4f3999cb256f1cb91f38fc9b8beba4b3fdc572

Update script still not working but my Sandstorm specific stuff should now be ready for upgrades as soon as I figured out how to run the update scripts.

[2015-07-28 18:51] JamborJan commented on #13
Booja!!! ... getting close. The root cause is a unstable update script. I re-created it manually step by step and all ```ALTER TABLE``` statements for new ```CONSTRAINT FOREIGN KEY``` fail with:

[code]
When I go through the rest manually. I can finally bring up an old grain in the new app. It also counts correct the notes in the database etc. but due to the wrong foreign keys it doesn't display a

[2015-07-29 06:27] JamborJan commented on #13
Waiting for feedback from the Paperwork devs: https://github.com/twostairs/paperwork/issues/462

[2015-07-29 07:00] JamborJan commented on #21
Hey @paulproteus,

I have tested a thousand different grains with Firefox 41 and Safari on a Mac with OS X 10.10.4 and I don't get this issue. Can you provide any more details?

Off topic question: how do you create these gif screen recordings?

[2015-07-29 17:43] paulproteus commented on #21
I do see a few errors in the console:

[code]

I'm using Chromium on Debian.

I don't really think that CSS being missing would cause these problems, though. Maybe I'm using an old version of the SPK. What's the current SPK URL?

[2015-07-29 17:55] JamborJan commented on #21
You can find the latest pre-release here on github: https://github.com/JamborJan/paperwork/releases/download/V5/paperwork.spk.zip

Database migration still not working, root cause identified: error by design, the paperwork team didn't take care so far that the database is migrate-able easy and introduced UUIDs without migration scripts.

[2015-07-29 17:59] paulproteus commented on #21
Thanks for the SPK URL. I just did a fresh upload and seem to have the same
problem.
https://alpha.sandstorm.io/shared/eropKuDWTeHImVf9RmoEgisCXSAqdFPc3c9RSHUveRD
is a sharing link; do you see it too?

re: migrations: I read the through upstream discussion. Seems like they're
sad about the current situation, too. If you want to try writing migration
scripts that work for people, cool. But if you g

[2015-07-29 18:17] JamborJan commented on #21
The link works and I can also see the text in edit mode. But I now realize that the font is kind of strange...
Maybe this and the errors mentioned by you earlier are linked together and cause the not visible edit field in some situations. I will keep this open and investigate more + solve it of course :-)

![bildschirmfoto 2015-07-29 um 20 14 46](https://cloud.githubusercontent.com/assets/7508960/

[2015-07-31 17:19] Liongold commented on #4
OK, let me know when you have soem results.

[2015-08-03 16:41] JamborJan commented on #13
I made some progress here with the following process:
- detect if you are starting an old grain or new
- if new: start up and everything is fine
- if old: display an export page
- user exports data
- closes grain
- imports data again in new grain

There are still some scenarios where errors are displayed so this should not be used so far.

[2015-08-05 04:53] JamborJan commented on #13
Finally I have been able to implement a migration workaround:
- Update your app to the latest version
- Start an old grain, you will see the export screen with additional information
- Follow the steps shown on the screen and import the data in a fresh grain

![untitled](https://cloud.githubusercontent.com/assets/7508960/9078440/a3325b78-3b3e-11e5-8f3a-928ae2d3a67d.gif)

[2015-08-05 04:53] #13 closed

[2015-08-21 09:27] JamborJan opened #27 "make import robust against special characters in title"
See also https://github.com/twostairs/paperwork/issues/484

Work around if you have import issues:
- open the xml and replace ```&nbsp;``` by a normal space
- replace & < > in the titles by the html encoded versions (BUT only titles not the note body as this is already ok)

[2015-09-01 17:42] erikmaarten opened #28 "[Failure] PDO exception when opening paperwork grain created with earlier version"
I upgraded Paperwork to the version from the app store yesterday, and now I can't open Paperwork grains created with the previous version I was using (don't know if it had a version number).

Yesterday I just got a blank page when trying to open old Paperwork grains, but today I get an exception. I changed my "Full Name" in the Sandstorm account settings, but it seems odd if an application uses th

[2015-09-01 18:10] JamborJan commented on #28
Hey @erikmaarten,

There was unfortunately an issue with the database caused by some trouble in the upstream repo. Details can be found here:
- https://groups.google.com/forum/#!searchin/sandstorm-dev/paperwork/sandstorm-dev/ObdnUs2vyrU/HHNXVRf84Q0J
- https://github.com/JamborJan/paperwork/issues/13

This should only happen when upgrading from the very first version of the app. I changed the app I

[2015-09-01 18:53] erikmaarten commented on #28
Haven't gotten around to try the steps, will do that next, but I've tried creating a new grain. With the new version, a grain is created without problem, with that old version I used previously I got an error the first time (see below) but subsequently it just opens a new grain without problems (seemingly using the old version of Paperwork, if that can be judged by the absence of the calendar in t

[2015-09-01 19:09] JamborJan commented on #28
Yeah unfortunately there is no easy way to detect the version at the moment. In the old UI of sandstorm the version was displayed beside the app name. Thats gone now. But in that case the calendar is a good indication.

I will wait for your feedback. Hopefully we can solve the issue and you can continue to use the app with all your data.

Anyway I'm here to help.

JJ

[2015-09-01 20:13] erikmaarten commented on #28
Have gone through all the steps for my Paperwork grains now, 7 out of 8 were fine to export and import. The one that didn't work didn't really give any indication as to why, just a message inside Paperwork saying the import failed. I just had two notes in it anyway, so it's not a big deal, and at the very least I guess I can just copy and paste the html for each note from the enex file (at least i

[2015-09-01 20:21] erikmaarten commented on #28
Another slight problem/bug I found just now: Notes can't be moved to the folder automatically created (the Evernote... folder) when importing.

[2015-09-02 04:30] JamborJan commented on #28
Hi @erikmaarten,

I'm glad it worked. Here some additional answers to your 3 questions:

The one note not being imported is most likely related to special characters in the title. See: https://github.com/JamborJan/paperwork/issues/27. I'm currently working on that together with the maintainers of the upstream repository. A work around is to open an ENEX file and replace especially `&nbsp;`by norma

[2015-09-02 04:30] #28 closed

[2015-09-02 18:38] erikmaarten commented on #27
Had this problem, but part of the problem seems to be that Paperwork V4 exports don't actually export UTF-8 text (even though it says the encoding is UTF-8). In my case, I had "&auml;" in the title, which should have been "ä". I replaced the encoded version with "ä" and import worked.

[2015-09-02 18:46] erikmaarten opened #29 "Misspelling of encoding in exports -- seems fine but could it cause trouble?"
While looking through a .enex exported file from Paperwork V4, I stumbled on the following where "encoding" has become "enconding":

    <data enconding="base64">

It doesn't seem to be a problem in this case, I was able to import the file, including the image, but I thought I'd just point it out in case it could cause future problems.

[2015-09-02 18:50] erikmaarten opened #30 "Notebook created on import behaves differently from regular notebooks"
Import a V4-exported file, then:

- Select a note that is not in the automatically created Evernote folder
- Choose Edit > Move note

In the list of notebooks that the note can be moved to, the Evernote folder created on import will not show up (regardless of whether it has since been renamed or not)

[2015-09-02 18:52] JamborJan commented on #27
Okay then I guess we also have the issue with ö ü ß and so on. Thx for your feedback! Will check and try to fix that.

[2015-09-03 04:33] JamborJan commented on #29
Thanks, I fixed it.

[2015-09-03 04:33] #29 closed

[2015-09-03 04:34] JamborJan commented on #30
Thanks for the feedback. I will check that in detail. Maybe it is a desired feature from the upstream authors but I'm not sure why this should be.

[2015-09-04 09:40] JamborJan commented on #30
Hi @erikmaarten

I made a test:
- create a new grain of paperwork
- I named the initial note "test issue 30", this one is located in the welcome notebook
- I imported a test ENEX file with 2 notes
- The Evernote folder is created
- I can move the initial note to this folder

My second test was with an new created note and I also was able to move that one.

My 3rd test was renaming the notebook, th

[2015-09-04 12:44] JamborJan commented on #21
Hey @paulproteus can you please test again with the version which is available in the sandstorm app store. I tryed to reproduce the issue in several ways but never was able to.

Thanks!

[2015-09-04 12:49] JamborJan opened #31 "Note editor empty when opening note from filtered list"
I will try to fix that issue in my fork and if it is okay send a PR upstream. Thats why a copy of the issue is here also. Upstream Issue No 496

-------

Tested with Firefox developer edition and Safari on a mac.
Source code from development branch from August 17th 2015.

How to reproduce the issue:
- you need at least 2 notes and one tag / one additional notebook / or notes from different dates
-

[2015-09-06 13:34] erikmaarten commented on #30
Have checked this again now, and it seems I didn't realize the notes I were trying to move were already in the folder I was intending to move to. Should have checked more carefully... No bug here!

[2015-09-06 13:34] #30 closed

[2015-09-06 18:17] JamborJan commented on #30
Thanks for your feedback. Let me know if you find any other things or if you have any questions.

JJ

[2015-09-06 19:54] kentonv opened #32 "Auto-save relies on localStorage"
Hi Jan,

A user reported that the "auto save" feature doesn't work. (A few moments after editing a note, the words "auto saved" appear under the edit window.)

From what I can tell, this feature often doesn't work upstream either -- most of the time, it does not offer to restore the auto-saves (see upstream issue 508). But, when it does work, it's based on localStorage, which means it definitely w

[2015-09-07 09:23] JamborJan commented on #32
Thx Kenton, will check that and try to find an appropriate solution. Hopefully with the feature enabled.

[2015-09-07 18:02] JamborJan opened #33 "Export does not contain notes without notebook"
I will fix this https://github.com/twostairs/paperwork/issues/483 first in my fork and send a PR when successfully tested.

[2015-09-09 15:44] JamborJan commented on #31
I didn't find the cause so far. Only difference I have found is that when the note is shown in the editor this PNG gets loaded: `ckeditor/plugins/widget/images/handle.png`

When I filter the note list upfront this gets not loaded. I guess this is rather a side effect and not the cause.

URLs are right in both cases and also the network analyses shows that the right data is requested and also compl

[2015-09-09 15:59] JamborJan commented on #31
Issue can be reproduced on https://demo.paperwork.rocks/

[2015-10-05 14:54] JamborJan commented on #31
Issue has been solved upstream. I did the same fix (without this workaround https://github.com/twostairs/paperwork/commit/b7063406599d073b07cde709f4816cc0e325147b) and it tests show it seems to work now.

[2015-10-05 14:54] #31 closed

[2015-10-05 14:57] JamborJan commented on #21
Hey @paulproteus, I have not been able to reproduce this issue and also no other users have reported something like this so far.

So unfortunately without your help I'm not able to do anything here.

I close the issue now. Feel free to re-open it or open a new one when you discover any further issues.

FYI: a new release will be made during the next days / weeks with more bug fixes.

[2015-10-05 14:57] #21 closed

[2015-10-21 17:57] JamborJan opened #34 "Filtered note list gets lost after note is closed"
Fixed in upstream repo, Needs to get merged to this repo

Send back to previous page when closing note #544

[2015-12-12 12:51] ovizii opened #35 "How does the QR code work?"
Open a notebook => Settings => Client => QR Code

Below the code it says: Scan this QR code with your mobile app to auto-configure your Paperwork account.

If I scan the code, I don't seem to have the right app to open it with. Is there a paperwork android client somewhere?

[2015-12-15 13:52] JamborJan commented on #35
@liongold can you help with an answer / info here?

I'm currently on vacation and cannot check in detail. I was only able to find something here: https://github.com/twostairs/paperwork/issues/379

Maybe that helps a bit.

[2015-12-15 13:56] ovizii commented on #35
no rush.Thanks for the link to the discussion about the android app but that still leaves the question of what the purpose of that QR code is :-)

[2015-12-15 16:20] JamborJan commented on #35
The QR code contains the connection information, e.g. like this:

[code]

I guess "the app" should be able to read that via the build in camera and then automatically connect to the instance. But I never used an app and I don't know if the link I've provided is a link to "that app" which can do that. Sorry that I have not more infos so far, maybe @liongold can help us here. He is a good experience

[2015-12-15 16:27] ovizii commented on #35
I had seen that but something isn't right here, my scanning app decodes it ias "type text". If I scan another working QR code I get: type URL".

Also, the link contains ports which I am not using, my sandstorm instance runs on port 443, are those hard-coded?

Let's see maybe someone else can eventually clarify this. Not an urgent issue though.

[2016-01-27 18:03] blutux opened #36 "Sandstorm/sandcats toolbar button invisible"
Hi,

I've just install paperwork on the sandstorm project. I've discover paperwork by this way and it's look very amazing. I'm very exciting to try it. However, when i try to create or edit a note, I open the toolbar when I'm clicking on the arrow. But all the icons are blanks and not visible.

Could you help me ? Am I at the right place ?

Thanks in advance

Blutux

[2016-01-28 11:45] JamborJan commented on #36
Hi, you are definitely at the right place. Would you mind to attach a screenshot? I will take a look at this.

[2016-01-28 18:04] blutux commented on #36
You can find the screenshot here [screenshot](http://i.imgur.com/EJTd19T.png)

[2016-01-30 14:07] JamborJan commented on #36
Hi @blutux unfortunately I'm not able to reproduce the issue. I checked with different browsers, configs, blockers, and also TOR and it always worked for me. Can you send some more details about your configuration please?

- Are you using oasis.sandstorm.io or an own setup?
- Which browser are you using?
- Are there any add-ons you use with your browser?

Thanks a lot for helping to track down thi

[2016-01-30 16:38] blutux commented on #36
Hi @JamborJan I use my own setup, i have tried with safari, chrome and firefox. And i have always the bug. I have tried also on oasis.sandstorm.io and I always have the bug (i have tried only with chrome on oasis).

FYI : i'm on OS X Yosemite 10.10.5, i have no ideo if the Operating System could have an influence on the issue, if i have time tomorrow, i will try on windows. And I will tell you my

[2016-01-31 15:18] blutux commented on #36
.... i'm disappointed ... it's works on my mother mac (os x El Captain) and on my brother pc (Windows 10). So i have tried to update my mac to El Captain. And Still not working  (i have tried with Safari, firefox and chrome). I don't know what i can do now :(

[2016-02-01 05:40] JamborJan commented on #36
Hi @blutux I was thinking about possible reasons. One could be 3rd party apps like blockers but this would mean you have them in all browsers on your computer which is pretty unlikely.

We could get some more information for debugging when you take a look at the console. Please follow the instructions below to do so. The example is done in Safari but should be pretty much the same for all browsers

[2016-02-01 07:06] blutux commented on #36
Apparently i can't load the @2x images (yes i have a retina macbook pro with retina screen :p )<img width="724" alt="screenshot 2016-02-01" src="https://cloud.githubusercontent.com/assets/4017432/12710785/3acf6724-c8ba-11e5-8c14-086cfb4d2006.png">

[2016-02-01 07:17] JamborJan commented on #36
Yay! We found the cause, great.

I will work on a solution for that. Unfortunately I have no retina display to test so I will need your help for that.

I'll let you know as soon as I have News here...

JJ

[2016-02-01 18:48] blutux commented on #36
No problem, let me know when (and where) I could test your fix . I will help you with pleasure (I'm also a developer, so I know that is not easy to have and to test all the possibilities ;) )

Blutux

[2016-02-02 19:28] JamborJan commented on #36
Hi @blutux,

I found a solution. I have to build a new package now and will give it to you for testing. Unfortunately I have an issue with my key to sign the package. So you have to wait a bit. I hope to be ready tomorrow.

FYI: during testing the app a list of used files is generated for the build. Obviously the needed files for retina displays are not included while testing on a none-retina comp

[2016-02-03 05:59] JamborJan commented on #36
Hi @blutux can you please test this package: https://github.com/JamborJan/paperwork/releases/tag/V7

You can download it and install it on your own instance for testing.

!!! Please don't use it in production yet. !!!

Thanks!

[2016-02-04 17:37] blutux commented on #36
Ok, i will try this week end, because i have to save some notes before install it

[2016-02-04 17:50] JamborJan commented on #36
You should be able to install it parallel as the app has another ID. But I would suggest to do a backup. Therefor you an download all grains one by one with the backup feature of sandstorm.

[2016-02-08 21:02] funwhilelost commented on #36
I'm seeing the same issue on my retina MacBook and noticed it exhibits the same problem with the ckeditor icons (because they're loaded dynamically from JavaScript).  Hopefully you can test there.  The data coming back is unusual.  It comes back with a 404, Content-type: text/html, a Set-Cookie header, and a bunch of binary bytes in the body: `ï¿½ï¿½W[oï¿½6~Ï¯8ï¿½ï¿½ï¿½dï¿½qï¿½ï¿½ï¿½ï¿½Kï¿½

[2016-02-09 06:05] JamborJan commented on #36
Hey @funwhilelost can you please check with this test release: https://github.com/JamborJan/paperwork/releases/tag/V7

I didn't find out so far how to test it without having a retina display. Please note that this is only for tests and not suitable for an update of all your grains.

Thanks!

[2016-02-09 18:42] blutux commented on #36
Hi @JamborJan I have just done the backup, I have installed the beta package and it's works, I can see the icons with my macbook pro retina :)

[2016-02-09 18:45] blutux commented on #36
@JamborJan Another things that i don't know if the new release will fix it, When i try to see a note, and after when i click on another note, the title change but not the content :( (if the new release will fix it, I will not open another issue, othewise I will open a new one

[2016-02-10 10:12] JamborJan commented on #36
Hey @blutux I will keep this issue open until I'm able to deliver the release which fixes the issue.

Can you please open a ticket for the issue with the title / content of notes when switching? Please add also picture if possible as I'm not sure if you are talking about the list view or the edit view.

Thanks!

[2016-02-21 19:27] JamborJan commented on #35
Hi @ovizii , I'm have been in contact with the upstream authors of Paperwork. So far I can say that there are plans to build a Paperwork V2 which includes apps for most used mobile platforms.

At the moment I have not found a working app so far for iOS. For android I found this beta version: https://github.com/theSoenke/Paperwork-Android. I'm not able to test this so far.

Sorry for not having a b

[2016-02-21 19:27] #35 closed

[2016-03-06 06:55] JamborJan commented on #33
I postponed this task.

[2016-03-06 06:57] JamborJan commented on #32
Postponed the feature to a future release.

[2016-03-06 13:48] JamborJan commented on #23
Decent error messages are included in this commit: https://github.com/JamborJan/paperwork/commit/0182edf2624ce4faa6b6499d910583cdb2df2ee8

Rest is still not perfect, import takes quite long with bigger files (2MB take over a minute) as soon as one note has an issue the whole import fails.

More improvement needs to be done.

[2016-03-06 13:50] JamborJan commented on #22
Postponed to a future version.

[2016-03-06 15:05] JamborJan commented on #36
The issue has been solved. See https://github.com/JamborJan/paperwork/releases/tag/V7 or update via Sandstorm App Store.

[2016-03-06 15:05] #36 closed

[2016-03-06 15:05] JamborJan commented on #34
The issue has been solved. See https://github.com/JamborJan/paperwork/releases/tag/V7 or update via Sandstorm App Store.

[2016-03-06 15:05] #34 closed

[2016-03-06 15:05] JamborJan commented on #27
The issue has been solved. See https://github.com/JamborJan/paperwork/releases/tag/V7 or update via Sandstorm App Store.

[2016-03-06 15:05] #27 closed

[2016-03-06 15:06] JamborJan opened #37 "Check deprecated node modules"
Some used node modules are deprecated:

[code]

[2016-03-06 15:13] JamborJan opened #38 "Switch to SANDSTORM=1 environment variable for detecting Sandstorm mode"
In `.sandstorm/sandstorm-pkgdef.capnp` the following has been introduced:

[code]

Until now I have been using a customized Paperwork configuration: https://github.com/JamborJan/paperwork/blob/master/frontend/app/config/paperwork.php#L47

[code]

[2016-03-13 19:59] JamborJan opened #39 "Improve user management"
Currently there are default users in the database when in sandstorm mode which are used according to the roles / permissions of the sandstorm user. Other apps add the users name / picture to the database and make a new record set.

The downside of my implementation is, that there are no traces of any user and no history of user.

[2016-03-13 20:02] JamborJan opened #40 "Improve build process"
Like done here https://github.com/JamborJan/keeweb-sandstorm

Pull in latest sources when app is build.

A new repository will be created for that.

Down side of this approach is: when the source repository is deleted the app cannot be build anymore.

[2016-03-18 08:52] JamborJan commented on #40
I started working on that, see branch https://github.com/JamborJan/paperwork/tree/development

Basic setup is working, database init and connect needs to be checked as the latest paperwork upstream code has changed here.

[2016-05-09 08:45] theSoenke opened #41 "Connect to Paperwork API"
Hi,

is it possible to connect to the Paperwork API from outside sandstorm?
I'm developing an Android client for Paperwork and would like to support sandstorm
https://github.com/theSoenke/Paperwork-Android

I've tried to find some information in the sandstorm documentation and as far as i understood it need to be supported by paperwork.

Thanks

[2016-05-11 14:24] JamborJan commented on #41
Hi, thanks for contributing to both Paperwork and Sandstorm.

You are right, there needs to be stuff done on my side. I need to connect the Paperwork API inside the Sandstorm package with Sandstorms Cap'n'Proto to connect to the outside world or let the outside world in via an API.

Unfortunately my workload is quite high at the moment and I cannot promise when this will be done. For one part of t

[2016-05-19 20:54] theSoenke commented on #41
Thanks for your answer.
The app already does work for normal sandstorm instances, but there are still quite a few things that can be improved in the meantime :)

[2016-06-22 09:50] germakoci opened #42 "share access problem in sandstorm"
when sharing access other then Owner (Add Edit or Read), the other users only see a blank page, the application is not loading

[2016-06-22 09:56] germakoci opened #43 "loading problem in sandstorm"
multiple users of the same grain have the problem of loading PaperWork, it remains hanging for a long time

as owner I can Restart App (doing so every day) but for the users it is either simply not loading at all, or showing it's loading for a long time and then doing nothing

here a pic of how it looks like when the loading is finishing in most of the cases [strange, it has a watermark with DEMO

[2016-06-24 19:44] JamborJan commented on #43
Hi @germakoci that is super strange, I never ever have seen `DEMO VERSION` and there is nothing in the code displaying this. Where are you running the grain? On https://oasis.sandstorm.io? If yes: what type of account do you have? maybe your free account is full and thats the reason?

Thanks for some more details.

[2016-06-24 19:58] JamborJan commented on #43
Please let me also know the size of the grain. You find that info right next to the name:

![bildschirmfoto 2016-06-24 um 21 55 26](https://cloud.githubusercontent.com/assets/7508960/16349019/6cd9cb5c-3a56-11e6-8949-d9264d60472d.png)

I'm sometimes experiencing issues starting up the grain, then it takes a long time. Maybe it's related to the size.

[2016-06-24 20:14] JamborJan opened #44 "Uploading files"
## Workaround

It seems that the upload dialogue is not stable. just in case you cannot upload a file try to drag & drop it. This usually works fine.

![untitled](https://cloud.githubusercontent.com/assets/7508960/16355820/8043270c-3ac3-11e6-8983-a340589f8c62.gif)

As described here: https://github.com/twostairs/paperwork/issues/580

Needs to be tested and issues / instability solved.

Pre-Release

[2016-06-24 20:19] JamborJan commented on #42
Thanks for bringing up the issue. I guess I found the root cause and will fix it.

Detail: when saving a note / notebook I have to automatically save permissions for the dummy users as there is a sharing model within paperwork which we have disabled.

Work is in progress to solve the issue.

[2016-06-25 08:44] JamborJan commented on #44
Hi @germakoci, one question: the new paperwork version has a limit for attachments for one note. Default is 10, do you think thats a good value or should this be increased?

[2016-06-25 09:15] germakoci commented on #43
size of the grain is 26 MB,  it's just at the beginning

[2016-06-25 09:17] germakoci commented on #43
@JamborJan the screenshot uploaded above, with the DEMO watermark is from a user in our group using sandstorm for work (non-free trial) hosted on our own server

[2016-06-25 09:46] JamborJan commented on #43
So I guess the DEMO watermark must be connected somehow to the sandstorm for work license.

The loading issus is currently under investigation, will let you know as soon as I have news.

[2016-06-25 11:55] JamborJan commented on #43
Current status: the loading issue is quite a problem: it behaves every time different. Maybe the reason is a combination of Paperwork in the current version not being the cleanest and best developed application and Sandstorm not being out of beta yet. Very weird scenarios. I will have to make further tests maybe it helps when I switch from the mysql db which is included to something better for San

[2016-06-25 11:57] JamborJan commented on #42
The blank screen was an issue in the automated login process which didn't work for none admins. This is solved.

Now I still have to find a way of always sharing new notes to users according to their permissions. As Paperwork has an own sharing model which is disabled in Sandstorm mode this is not as easy as I thought. Work continues ...

[2016-06-25 15:12] germakoci commented on #44
@JamborJan we don't really use attachments to notes, what we do we crosslink with a Davros repository for files

so 10 as a limit should be really enough, because in Sandstorm one can combine the different apps to add more docs to the note

[2016-07-22 15:42] JamborJan commented on #43
Hi @germakoci

I did some improvements and also included the latest Paperwork version. When testing on https://oasis.sandstorm.io I get some good results with spin up time of a grain less than 10 seconds and grain size more than 40MB.

Can you please check with the pre release  v8 if you have also better results? Please backup your grains before just in case something doesn't go right during the u

[2016-09-27 01:58] TheBillby opened #45 "In older Sandstorm version, a blank screen is shown for the original user (but viewing through the shared link works fine)"
Hi folks,

I emailed Kenton about this last week, he helped me out and pointed me here to log a bug.

I have some files in the older version of Paperwork on Sandstorm, and when I opened them the display was blank.

I got the shareable link to send to Kenton, and Kenton had no problem opening it.

Sure enough, it works as intended while viewed through the shareable link, but is blank when opened by

[2016-11-11 15:54] MattMartin612 commented on #45
I found the same thing.  I found this app via Sandstorm evaluation, but I noticed that the last update was in March.  I like the Sandstorm idea, not if they only rarely update the supported apps.  I'd just like to understand if I should expect an update or its up to me to get the current paperwork code and figure out how to create a sandstorm app?

Thanks,

[2016-11-17 15:46] JamborJan commented on #45
Hey sorry for not answering sooner. I will take a look at this and provide a new package. You can check in the meantime if this pre-release helps you already:

https://github.com/JamborJan/paperwork/releases/tag/V8

Make sure to backup all Paperwork grains before! Just in case you need to restore them when the new version is not OK.

Right now I'm not doing frequent updates of the app because ther

[2016-11-17 19:50] MattMartin612 commented on #45
No problem, thanks for answering.

I installed the beta and I can now return to the home screen by clicking on
the "PaperWork" logo icon.  Thank you!

I really like the idea of maintaining my own data store, and will start
serious testing very soon.  All the email hacking and big brother, excuse
me I meant to say big person, combing through all your data is
disconcerning at the very least.

A big

[2016-11-24 20:07] JamborJan commented on #45
Hey ho, just a short update: I was able to fix some smaller things and will do some further testing tomorrow. Then I should be ready to upload a new version to the app store.

[2016-11-25 08:54] JamborJan commented on #45
There is a new release: https://github.com/JamborJan/paperwork/releases/tag/V8

I also have send the update to the Sandstorm app store, as soon as it is reviewed the update will be available there too.

Once again thanks for reporting the issue. Please feel free to open a new issue if you have any further problems.

[2016-11-25 08:54] #45 closed

[2017-01-21 22:58] xarinatan opened #47 "Unable to delete Notebook (CSS bug?)"
I can't seem to delete notebooks.
If I open any notebook and select edit->Delete Notebook, the UI 'freezes' and if I open it up with the developer tools, I see an invisible div popped up in front that's called 'modalNotebookDelete' without any styling.
I really enjoy the Paperwork app so far, it would be really nice to have this fixed so I can delete my testing notebook with garbage notes 😃

[2017-01-27 10:57] JamborJan commented on #47
Hi @xarinatan,

sorry for the late reply. Here is a short workaround to delete the notebook anyway:
![untitled](https://cloud.githubusercontent.com/assets/7508960/22368558/68d996f0-e487-11e6-9bde-0d930f8ef3c7.gif)

Thanks for taking time to open an issue. I will take a look at it and solve it as soon as possible. As far as I can see now it's an upstream issue and I have to check with the core deve

[2017-01-27 15:05] xarinatan commented on #47
All of my upvotes! Thank you for the workaround, I hadn't noticed that you could reach the interface through there yet :)
Good luck with the bug hunting! Thanks for the help!

[2017-03-11 05:46] jessica613lyn opened #48 "PDF Upload Error on Sandstorm"
Upload Error
-------------
It looks like I am coming up with an error when I try to attach a .pdf in Sandstorm. The file attempts to upload, but quickly fails. I tried dragging the file as well as using the upload button and neither worked. I have also tried with multiple .pdf files.

![bug report video](https://cloud.githubusercontent.com/assets/26339314/23820937/e3cb607a-05e1-11e7-9210-ebe735744

[2017-03-13 18:34] JamborJan commented on #48
Thanks for submitting the issue. I'll investigate asap and let you know when it is solved.

[2017-03-24 13:25] JamborJan commented on #48
Hey @jessica613lyn I have been investigating and the complete broken upload seems to be solved. I can now upload via drag & drop but when using the upload document button a strange issue occurs which I have send to the upstream developers (see https://github.com/twostairs/paperwork/issues/782). I currently think it is not an sandstorm issue.

Can I kindly ask you to check if you can work with the

[2017-03-28 10:50] spankito commented on #48
Same issue here.

Just tested last spk pre-release and it worked for me.
![attachment](https://cloud.githubusercontent.com/assets/2588913/24401551/27fce044-13b5-11e7-8db2-8bf399f3aff2.jpg)

[2017-03-28 13:46] JamborJan commented on #48
thanks @spankito for testing, I just wait a bit for @jessica613lyn in case there is an issue and then I push the update to the app market.

[2017-06-12 05:51] MatheusRV opened #49 "how did you create .env?"
i'm porting new apps into snadstorm and i'm confused how to create .env

could you help?

[2017-06-13 07:54] JamborJan commented on #49
Hey @MatheusRV, I don't get the point of question, sorry. I'm trying to help you as good as I can. Can you rephrase your question please?

Some random notes about my approach:
- I'm using the default Vagrant aproach and the Debian box provided by Sandstorms Vagrant-SPK: https://github.com/sandstorm-io/vagrant-spk
- Within [setup.sh](https://github.com/JamborJan/paperwork/blob/master/.sandstorm/set

[2017-06-13 08:01] JamborJan commented on #49
When you say `.env` I guess you are talking about the Docker config file. Within vagrant this is done in the Vagrant file. My example: https://github.com/JamborJan/paperwork/blob/master/.sandstorm/Vagrantfile

The equivalents of the Docker file in Vagrant are the [setup.sh](https://github.com/JamborJan/paperwork/blob/master/.sandstorm/setup.sh), [build.sh](https://github.com/JamborJan/paperwork/bl

[2017-06-13 08:10] MatheusRV commented on #49
Hi, tks for an answer. My English is terrible, I need do something about that.

I'm talking about .env of Laravel, I'm creating GitHub of the project right now.

[2017-06-13 13:17] JamborJan commented on #49
Okay, I still don't get it so I try to explain how I did it with Paperwork. From my point of view it doesn't make sense to port laravel alone as it is a php framework and no application. Thats why I have asked about the actual application you are going to port.

1. I'm setting up a debian box with Vagrant
2. All details which packages are installed can be found in [setup.sh](https://github.com/Jam

[2017-06-14 00:47] MatheusRV commented on #49
I'm working on https://github.com/MatheusRV/Cachet-Sandstorm but the MYSQL is showing a strange error with socket then I go to vagrant-spj vm ssh and restart the MYSQL it works ok... Then I try to vagrant-spk dev I receive a Symlink error, reading on the internet I see is related to VirtualBox and Vagrant.

I'm current using Windows Linux Subsystem, Vagrant 1.9.5 that support VirtualBox over windo

[2017-06-14 12:03] JamborJan commented on #49
I have checked your code, this part:

[code]

Should be deleted in build.sh and copied to launcher.sh then mysql should work. *BUT* I highly recommend to use SQLite instead of mysql because it has better performance within Sandstorm. Furthermore one very important thing: all folders which must be writable must be located wuthin /var/. I never used Cachet, do you know which folders must be writable

[2017-06-14 22:19] MatheusRV commented on #49
Just ```
chmod 777 /opt/app/database/database.sqlite
chmod -R 777 /opt/app/bootstrap/
chmod -R 777 /opt/app/storage
[code]

[2017-06-15 15:52] JamborJan commented on #49
Ok, will close this one here.

[2017-06-15 15:52] #49 closed

[2017-08-30 21:59] mr9v9 commented on #48
@JamborJan So did this ever get updated on the Sandstorm App? I tried the upload today and it is still broken for me.

[2017-08-31 16:08] JamborJan commented on #48
Hey @mr9v9 , sorry that seems to get lost. Will try to check and push it to the store on the weekend.

[2017-08-31 16:19] mr9v9 commented on #48
Thanks @JamborJan BTW I tested that pre-release and it seems to be working over here.

[2017-09-01 17:49] JamborJan commented on #48
New release has been build and submitted to the sandstorm app store. Thanks to all involved for your help and testing. Thumbs up!

[2017-09-01 17:49] #48 closed

[2017-09-01 17:50] JamborJan commented on #47
New release has been build and submitted to the sandstorm app store. Thanks to all involved for your help and testing. Thumbs up!

[2017-09-01 17:50] #47 closed

[2017-09-01 17:53] JamborJan commented on #43
I have submitted a new version to the sandstorm app store. I was not able to recreate this issue anymore. The main thing I did to solve or at lease mitigate this is an update of the upstream Paperwork. Please let me know if there are any further issues.

[2017-09-01 17:53] #43 closed

[2017-09-01 17:54] JamborJan commented on #42
Not sure if this still is an issue. We have been testing a bit but not so much with sharing. Please let me know if there still is an issue.

[2017-09-01 17:54] #42 closed

[2017-09-01 17:56] JamborJan commented on #40
Process has been implemented and tested well. Building new versions is much easier now.

[2017-09-01 17:56] #40 closed

[2018-01-03 14:58] logicfish opened #50 "Cannot find module 'jshint/src/cli'"
[code]

[2018-01-03 18:59] logicfish commented on #50
I had to ssh and do:
[code]

[2018-02-01 06:00] JamborJan commented on #50
Hey @logicfish thank you for submitting this issue and sorry for the late reply. I will look into that as soon as possible.

[2019-04-04 11:24] JamborJan commented on #7
This project is dormant ([reasons](https://gist.github.com/JamborJan/8e42eff813b6fb0b6fe987afb9241c5e)).

Issues will be closed as there will be no further progress on them. Feel free to fork the repo and take over maintenance.

[2019-04-04 11:24] #7 closed

[2019-04-04 11:25] JamborJan commented on #19
This project is dormant ([reasons](https://gist.github.com/JamborJan/8e42eff813b6fb0b6fe987afb9241c5e)).

Issues will be closed as there will be no further progress on them. Feel free to fork the repo and take over maintenance.

[2019-04-04 11:25] #19 closed

[2019-04-04 11:25] JamborJan commented on #20
This project is dormant ([reasons](https://gist.github.com/JamborJan/8e42eff813b6fb0b6fe987afb9241c5e)).

Issues will be closed as there will be no further progress on them. Feel free to fork the repo and take over maintenance.

[2019-04-04 11:25] #20 closed

[2019-04-04 11:25] JamborJan commented on #22
This project is dormant ([reasons](https://gist.github.com/JamborJan/8e42eff813b6fb0b6fe987afb9241c5e)).

Issues will be closed as there will be no further progress on them. Feel free to fork the repo and take over maintenance.

[2019-04-04 11:25] #22 closed

[2019-04-04 11:25] JamborJan commented on #23
This project is dormant ([reasons](https://gist.github.com/JamborJan/8e42eff813b6fb0b6fe987afb9241c5e)).

Issues will be closed as there will be no further progress on them. Feel free to fork the repo and take over maintenance.

[2019-04-04 11:25] #23 closed

[2019-04-04 11:26] JamborJan commented on #32
This project is dormant ([reasons](https://gist.github.com/JamborJan/8e42eff813b6fb0b6fe987afb9241c5e)).

Issues will be closed as there will be no further progress on them. Feel free to fork the repo and take over maintenance.

[2019-04-04 11:26] #32 closed

[2019-04-04 11:26] JamborJan commented on #33
This project is dormant ([reasons](https://gist.github.com/JamborJan/8e42eff813b6fb0b6fe987afb9241c5e)).

Issues will be closed as there will be no further progress on them. Feel free to fork the repo and take over maintenance.

[2019-04-04 11:26] #33 closed

[2019-04-04 11:27] JamborJan commented on #37
This project is dormant ([reasons](https://gist.github.com/JamborJan/8e42eff813b6fb0b6fe987afb9241c5e)).

Issues will be closed as there will be no further progress on them. Feel free to fork the repo and take over maintenance.

[2019-04-04 11:27] #37 closed

[2019-04-04 11:27] JamborJan commented on #38
This project is dormant ([reasons](https://gist.github.com/JamborJan/8e42eff813b6fb0b6fe987afb9241c5e)).

Issues will be closed as there will be no further progress on them. Feel free to fork the repo and take over maintenance.

[2019-04-04 11:27] #38 closed

[2019-04-04 11:27] JamborJan commented on #39
This project is dormant ([reasons](https://gist.github.com/JamborJan/8e42eff813b6fb0b6fe987afb9241c5e)).

Issues will be closed as there will be no further progress on them. Feel free to fork the repo and take over maintenance.

[2019-04-04 11:27] #39 closed

[2019-04-04 11:28] JamborJan commented on #41
This project is dormant ([reasons](https://gist.github.com/JamborJan/8e42eff813b6fb0b6fe987afb9241c5e)).

Issues will be closed as there will be no further progress on them. Feel free to fork the repo and take over maintenance.

[2019-04-04 11:28] #41 closed

[2019-04-04 11:34] JamborJan commented on #44
This project is dormant ([reasons](https://gist.github.com/JamborJan/8e42eff813b6fb0b6fe987afb9241c5e)).

Issues will be closed as there will be no further progress on them. Feel free to fork the repo and take over maintenance.

[2019-04-04 11:34] #44 closed

[2019-04-04 11:34] JamborJan commented on #50
This project is dormant ([reasons](https://gist.github.com/JamborJan/8e42eff813b6fb0b6fe987afb9241c5e)).

Issues will be closed as there will be no further progress on them. Feel free to fork the repo and take over maintenance.

[2019-04-04 11:34] #50 closed